* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}